== simple_form_for @platform do |f|

  div.input-field
    == f.input :title, label: 'Title'

  div.input-field
    == f.input :link, label: 'Link'

  div.input-field
    == f.input :interval, label: 'Interval'

  div.input-field
    == f.input :timeout, label: 'Timeout'

  div.input-field
    == f.input :description, label: 'Description', as: :text, required: false, input_html: { class: 'materialize-textarea' }

  == f.button :submit, input_html: {class: 'btn waves-effect waves-light'}
  | &nbsp;
  == link_to 'Cancel', platforms_path, class: 'btn waves-effect waves-light'
