table.striped
  thead
    tr
      th Title
      th Description
      th
      th

  tbody
    - @platforms.each do |platform|
      tr
        td
          == platform.title
          br
          == link_to platform.link, platform.link, target: '_blank'
        td = platform.description
        td
          / link_to ('<i class="material-icons view">info_outline</i> ').html_safe, new_category_path(category.id), target: '_blank'
          == link_to ('<i class="material-icons edit">mode_edit</i> ').html_safe, edit_platform_path(platform.id)
          == link_to ('<i class="material-icons delete">delete</i> ').html_safe, platform_path(platform.id), method: 'delete', data: {confirm: 'Are you sure?'}, class: 'delete'
        td
          == link_to ('Start ').html_safe, platform_start_path(platform.id), class: 'waves-effect waves-light btn'
