table.striped.jobs
  thead
    tr
      th Job
      th Last performed at
      th Status
      th

    tbody
      - @statuses.each do |status|
        tr
          td = status.job_id
          td = status.last_performed_at.strftime('%d %m %Y %H:%M:%S')
          td = status.healthy ? ('<span class="good"><i class="material-icons">check</i> Success</span>').html_safe : ('<span class="bad"><i class="material-icons">error_outline</i> Error</span>').html_safe
          td
            == link_to ('<i class="material-icons">list</i>').html_safe, status_path(status.id)

