.single-job
  h3 = @status.job_id
  == @status.healthy ? ('<span class="good"><i class="material-icons">check</i> Success</span>').html_safe : ('<span class="bad"><i class="material-icons">error_outline</i> Error</span>').html_safe
  p
    b Last performed at:
    | &nbsp;
    == @status.last_performed_at.strftime('%d %m %Y %H:%M:%S')

  == link_to 'Back', statuses_path, class: 'btn waves-effect waves-light'
  .log-container
    p
      b Log:
    .log = @status.log

  == link_to 'Back', statuses_path, class: 'btn waves-effect waves-light'