- @banners.each do |banner|
  //- uniqueness = Nokogiri::HTML(banner.html)
  .one-banner
    b == "#{banner.id}. #{banner.title} (#{banner.width}x#{banner.height})"
    /br
    /b == banner.hash_line
    /=h banner.html
    br
    == image_tag(banner.screenshot, alt: banner.title)
    br
    //b == Show.find_uniqueness banner.html
    br
    //== ap uniqueness.css('img').to_a
    //== ap uniqueness.css('iframe').to_a
    //== ap uniqueness.css('a').to_a
    //== ap uniqueness.css('script').to_a
    hr