nav.blue-grey.darken-2
  div.nav-wrapper.container
    == link_to ('Codename "Clerk" <i class="material-icons">directions_run</i>').html_safe, root_path, class: 'brand-logo'
    ul#nav-mobile.right.hide-on-med-and-down
      li
        a href="#" Link 1
      li
        a href="#" Link 2
      li
        a href="#" Link 3
