.collection
  == link_to 'Home',        root_path,        class: 'collection-item'
  == link_to 'Clients',     clients_path,     class: 'collection-item'
  == link_to 'Platforms',   platforms_path,   class: 'collection-item'
  == link_to 'Categories',  categories_path,  class: 'collection-item'
  == link_to 'Tags',        tags_path,        class: 'collection-item'
  == link_to 'Status',      statuses_path,    class: 'collection-item'
