ul.collection
  - @categories.each do |category|

    li.collection-item.avatar
      span.title = category.title
      p = category.description.html_safe
      div.secondary-content
        / link_to ('<i class="material-icons view">info_outline</i> ').html_safe, new_category_path(category.id), target: '_blank'
        == link_to ('<i class="material-icons edit">mode_edit</i> ').html_safe, edit_category_path(category.id)
        == link_to ('<i class="material-icons delete">delete</i> ').html_safe, category_path(category.id), method: 'delete', data: { confirm: 'Are you sure?' }, class: 'delete'
