== simple_form_for @tag do |f|

  div.input-field
    == f.input :title, label: 'Title'

  div.input-field
    == f.input :description, label: 'Description', as: :text, required: false, input_html: { class: 'materialize-textarea' }

  == f.button :submit, input_html: {class: 'btn waves-effect waves-light'}
  | &nbsp;
  == link_to 'Cancel', tags_path, class: 'btn waves-effect waves-light'