h3 == @tag.title
p == @tag.description
p
  == link_to 'edit', edit_tag_path(@tag.id), class: 'btn waves-effect waves-light'
  | &nbsp;
  == link_to 'delete', tag_path(@tag.id), method: 'delete', data: { confirm: 'Are you sure?' }, class: 'btn waves-effect waves-light'
  | &nbsp;
  == link_to 'back', tags_path, class: 'btn waves-effect waves-light'