.jobs {

  // Statuses

  span {

    i {
      vertical-align: bottom;
    }

    &.good {
      color: #00e676;
    }

    &.bad {
      color: #ff1744;
    }

  }

}


.single-job {

  .good {
    color: #00e676;
  }

  span {

    font-size: 24px;
    font-weight: normal;

    i {
      vertical-align: top;
      font-size: 36px;
      font-weight: normal;
    }

    &.good {
      color: #00e676;
    }

    &.bad {
      color: #ff1744;
    }

  }

  .log-container {
    margin: 20px 0;
  }
  .log {
    white-space: pre;
    overflow-x: scroll;
  }

}