// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.all-tags {

  padding-top: 5px;

  .single-tag {

    margin: 5px 5px 5px 0;

  }

}

