table.striped
  thead
    tr
      th Title
      th Description
      th

  tbody
    - @categories.each do |category|
      tr
        td = category.title
        td = category.description
        td
          / link_to ('<i class="material-icons view">info_outline</i> ').html_safe, new_category_path(category.id), target: '_blank'
          == link_to ('<i class="material-icons edit">mode_edit</i> ').html_safe, edit_category_path(category.id)
          == link_to ('<i class="material-icons delete">delete</i> ').html_safe, category_path(category.id), method: 'delete', data: { confirm: 'Are you sure?' }, class: 'delete'
