doctype html
html
  head
    title Clerk
    == csrf_meta_tags
    == stylesheet_link_tag  'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css', 'data-turbolinks-track': 'reload'
    == stylesheet_link_tag  'https://fonts.googleapis.com/icon?family=Material+Icons', 'data-turbolinks-track': 'reload'
    == stylesheet_link_tag  'application', 'data-turbolinks-track': 'reload'

    == javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body

    == render partial: 'shared/header'
    .container
      .row
        .col.s3
          == render partial: 'shared/sidebar'
        .col.s9
          == render partial: 'shared/notifications'
          == yield
    == render partial: 'shared/footer'
    == javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js', 'data-turbolinks-track': 'reload'